

body {
    font-family: 'Open Sans',serif;
    padding-top: 54px;
    padding-left: 54px;
    color: #495057;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Saira Extra Condensed',serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #343a40;
}
